datalake/
airflow/logs/
datasource/
__pycache__/
*.pyc
.env

# dbt artifacts and configs
pipelines/dbt_projects/dbt_packages/
pipelines/dbt_projects/logs/
pipelines/dbt_projects/target/

pipelines/dbt_projects/profiles.yml
pipelines/dbt_projects/.user.yml