datalake/
airflow/logs/
datasource/*.csv
datasource/*.parquet
datasource/*.json
__pycache__/
*.pyc
.env

# dbt artifacts and configs
pipelines/dbt_projects/target/
pipelines/dbt_projects/dlogs/
pipelines/dbt_projects/profiles.yml
pipelines/dbt_projects/.user.yml